@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

body {
    font-family: Roboto, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    margin: 0 10px;
}

button {
    font-size: 14px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #3882F6;
    padding: 8px 26px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover  {
    background-color:#265aae;
}

.quote p,
.quoter,
.info-title {
    color: #1F2937;
}

.header {
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 16px 32px 48px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.header-align {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.logo,
.title,
.info-title,
.quoter {
    font-weight: 900;
}

.logo {
    font-size: 24px;
}

.title {
    font-size: 48px;
}

.info-title,
.quote .q-text {
    font-size: 36px;
}

.title-para,
a {
    font-size: 18px;
    color: #e5e7ebd8;
}

.placeholder {
    flex-shrink: 0;
    background-color: rgba(128, 128, 128, 0.809);
    height: 200px;
    flex-basis: 400px;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.information {
    font-size: 15px;
    margin: 0 10px 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 88px;
}

.info-image {
    padding: 16px;
    border-radius: 20px;
    border: 4px solid #3882F6;
    height: 120px;
    width: 120px;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
    width: 120px;
}

.quote {
    background-color: #E5E7EB;
    margin-bottom: 60px;
    padding: 75px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.quote .q-text {
    font-weight: 250;
    font-style: italic;
}

.quoter {
    display: flex;
    align-self: flex-end;
}